kubernetes = {
  cluster = {
    # The name of the EKS cluster
    id = "my-eks-cluster"

    # The cluster ARN
    arn = "arn:aws:eks:<Region>:<AccountNumber>:cluster/my-eks-cluster"

    # The cluster server API endpoint
    endpoint = "<ClusterEndpoint>"

    # The cluster certificate authority (base64-encoded)
    cert_authority = "<Cluster Certificate Authority>"
    
    # The region the cluster exists in (e.g. 'us-west-2')
    region = "<Region>"

    # Whether or not EKS Auto Mode is enabled.
    auto_mode_enabled = false
  }
}

p0_config = {
    # The name of the P0 org that the integration will be installed in.
    org  = "demo-org"
}