.terraform/
terraform.tfvars
backend.hcl
terraform.rc
jwk
modules/kubernetes/terraform.tfstate
modules/kubernetes/terraform.tfstate.*
modules/kubernetes_auto_mode/terraform.tfstate
modules/kubernetes_auto_mode/terraform.tfstate.*